.DS_Store
terraform.csv.gitignore
.DS_Store
VPC-intro/credentials.tfvars
VPC/credentials.tfvars
.DS_Store
VPC/terraform.tfvars
VPC/mykey.pub
VPC/mykey
VPC/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.64.0_x4
VPC/.terraform/plugins/darwin_amd64/lock.json
.DS_Store
